In [ ]:
import pandas as pd;

# creating serires from list
data=[10,20,30,40,50]
pd.Series(data)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
# creating serires from list from custom index
index=['a','b','c','d','e']
series_data=pd.Series(data,index=index)
print(series_data)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [10]:
# access element in series
print(series_data['a'])
print(pd.Series(data)[0])

10
10

In [11]:
# perform arithmatic operation 

print(series_data*2)

a     20
b     40
c     60
d     80
e    100
dtype: int64

In [ ]:
# perform arithmatic custom operation

print(series_data['b']*2)

series=pd.Series(data)
print("Multiply 2 only for even element:\n",
      series[series%2==0])

40
Multiply 2 only for even element:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
# filtering series

print("Print all even element\n",series[series%2==0])
print("Print all odd element\n",series[series%2!=0])

Print all even element 0    10
1    20
2    30
3    40
4    50
dtype: int64
Print all odd element Series([], dtype: int64)

In [25]:
# statistical operation
print('Mean: ',series.mean())
print('Mode: ',series.mode())
print('Standard deviation',series.std())

Mean:  30.0
Mode:  0    10
1    20
2    30
3    40
4    50
dtype: int64
Standard deviation 15.811388300841896

In [27]:
# Accessing the index level
print(series.index)

RangeIndex(start=0, stop=5, step=1)

In [28]:
# Access the value
print(series.values)

[10 20 30 40 50]

In [30]:
# all statistical value
print(series.describe())

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

In [ ]:
data={
    'Name':['Alice','Bob','Charlie','David'],
    'Age':['25','30','28','35'],
    'City':['New York','Los Angeles','Chicago','San Fransisco']
}

df=pd.DataFrame(data)
print(df)
print(df.describe())

# group by 
print(df.groupby('City'))

      Name Age           City
0    Alice  25       New York
1      Bob  30    Los Angeles
2  Charlie  28        Chicago
3    David  35  San Fransisco
         Name Age      City
count       4   4         4
unique      4   4         4
top     Alice  25  New York
freq        1   1         1
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x79fb499262a0>

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x79fb4992eb40>