# install pandas

In [3]:
!pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

- import pandas as pd alias

In [4]:
import pandas as pd;

# Series

In [ ]:
data=[1,2,3,4,5]
print(pd.Series(data)) # make series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
import numpy as np;
data=np.array(np.arange(0,100,2))
print(pd.Series(data))

0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
11    22
12    24
13    26
14    28
15    30
16    32
17    34
18    36
19    38
20    40
21    42
22    44
23    46
24    48
25    50
26    52
27    54
28    56
29    58
30    60
31    62
32    64
33    66
34    68
35    70
36    72
37    74
38    76
39    78
40    80
41    82
42    84
43    86
44    88
45    90
46    92
47    94
48    96
49    98
dtype: int64

## Create series from a dictionary using pandas

In [8]:
data={'a':1,'b':2,'c':3}
series_dict=pd.Series(data)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [ ]:
data=[1,2,3,4,5]
index=['a','b','c','d','e']
print(pd.Series(data,index))

a    1
b    2
c    3
d    4
e    5
dtype: int64

# Data frame

- <h2>create dataframe from dictionary of list<h2>

In [ ]:

data={
    'Name':['Krish','John','Jack'],
    'Age': [25,30,45],
    'City':['Bangalore','New York', 'Arlington']
}

df=pd.DataFrame(data)
print(df)
print(type(df))


# can also use numpy

print(np.array(data))

    Name  Age       City
0  Krish   25  Bangalore
1   John   30   New York
2   Jack   45  Arlington
<class 'pandas.core.frame.DataFrame'>
{'Name': ['Krish', 'John', 'Jack'], 'Age': [25, 30, 45], 'City': ['Bangalore', 'New York', 'Arlington']}

- <h2>Create a dataframe from a list of a dictionary</h2>

In [28]:
data=[
    {'Name':'Krish','Age':32,'City':'Bangalore'},
    {'Name':'John','Age':40,'City':'New York'},
    {'Name':'Jack','Age':45,'City':'Arlington'}
]

df=pd.DataFrame(data)
print(df)

    Name  Age       City
0  Krish   32  Bangalore
1   John   40   New York
2   Jack   45  Arlington

# Read data from file

In [ ]:
data=pd.read_json('./data.json')
print("Last 5 data:\n",data.tail(5)) # access last 5 data
print("First 1 data:\n",data.head(1)) # access first 5 data

Last 5 data:
            Name  Age      City                    Profession
45  Kritin Paul   36  Itanagar      IoT Blockchain Developer
46  Shaunak Dey   35    Imphal     Software Systems Engineer
47  Aviraj Giri   33    Kohima  Web3 Infrastructure Engineer
48  Neil Chetri   30   Gangtok    AI Infrastructure Engineer
49    Ronav Rai   27      Puri      Cybersecurity Researcher
First 5 data:
            Name  Age       City            Profession
0  Aarav Sharma   32  Bangalore  Blockchain Developer

In [ ]:
# specific column
print(data['Profession'].tail(5)) # only profession show

45        IoT Blockchain Developer
46       Software Systems Engineer
47    Web3 Infrastructure Engineer
48      AI Infrastructure Engineer
49        Cybersecurity Researcher
Name: Profession, dtype: object

In [37]:
# pick up 0th row from data sheet
print(data.loc[0])

Name                  Aarav Sharma
Age                             32
City                     Bangalore
Profession    Blockchain Developer
Name: 0, dtype: object

In [38]:
print(data.iloc[0])

Name                  Aarav Sharma
Age                             32
City                     Bangalore
Profession    Blockchain Developer
Name: 0, dtype: object

In [40]:
print(data.loc[0][0])
print(data.iloc[0][0])

Aarav Sharma
Aarav Sharma

/tmp/ipykernel_29113/3695451042.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(data.loc[0][0])
/tmp/ipykernel_29113/3695451042.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(data.iloc[0][0])

# accesing specific element using 'at'

In [44]:
data['Name'].tail(5)

45    Kritin Paul
46    Shaunak Dey
47    Aviraj Giri
48    Neil Chetri
49      Ronav Rai
Name: Name, dtype: object

In [45]:
data['Profession'].head(5)

0      Blockchain Developer
1    Smart Contract Auditor
2      Full Stack Developer
3         Backend Developer
4           DevOps Engineer
Name: Profession, dtype: object

In [47]:
data.at[1,'Profession']

'Smart Contract Auditor'

In [54]:
data.at[2,'Name']

'Ishaan Reddy'

# accessing specific element using 'itat'

In [56]:
data.iat[2,2]

'Pune'

# add a column

In [61]:
test=[1,2,3,4,5]
df=pd.DataFrame(test)
df['Salary']=[1,2,3,4,5]
print(df)

   0  Salary
0  1       1
1  2       2
2  3       3
3  4       4
4  5       5

# remove a column

In [67]:
df.drop('Salary',axis=1,inplace=True)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [68]:
print(df)

   0
0  1
1  2
2  3
3  4
4  5

# add age to the column

In [72]:
data['Age']=data['Age']+1
print(data.tail(5))

           Name  Age      City                    Profession
45  Kritin Paul   37  Itanagar      IoT Blockchain Developer
46  Shaunak Dey   36    Imphal     Software Systems Engineer
47  Aviraj Giri   34    Kohima  Web3 Infrastructure Engineer
48  Neil Chetri   31   Gangtok    AI Infrastructure Engineer
49    Ronav Rai   28      Puri      Cybersecurity Researcher

In [73]:
print(data.tail(5))

           Name  Age      City                    Profession
45  Kritin Paul   37  Itanagar      IoT Blockchain Developer
46  Shaunak Dey   36    Imphal     Software Systems Engineer
47  Aviraj Giri   34    Kohima  Web3 Infrastructure Engineer
48  Neil Chetri   31   Gangtok    AI Infrastructure Engineer
49    Ronav Rai   28      Puri      Cybersecurity Researcher

# delete a specific row

In [81]:
data.drop(48,inplace=True)
print(data.tail(5))

                Name  Age      City                    Profession
43       Tejas Barua   29    Dispur      Blockchain UX Specialist
44  Sarthak Dasgupta   35  Guwahati      Decentralized App Tester
45       Kritin Paul   37  Itanagar      IoT Blockchain Developer
46       Shaunak Dey   36    Imphal     Software Systems Engineer
47       Aviraj Giri   34    Kohima  Web3 Infrastructure Engineer

# describe of datasheet

In [84]:
print(data.describe()) # show the statistical data

             Age
count  48.000000
mean   33.520833
std     3.649480
min    27.000000
25%    31.000000
50%    33.000000
75%    36.000000
max    41.000000