# install pandas

In [3]:
!pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

- import pandas as pd alias

In [4]:
import pandas as pd;

# Series

In [ ]:
data=[1,2,3,4,5]
print(pd.Series(data)) # make series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
import numpy as np;
data=np.array(np.arange(0,100,2))
print(pd.Series(data))

0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
11    22
12    24
13    26
14    28
15    30
16    32
17    34
18    36
19    38
20    40
21    42
22    44
23    46
24    48
25    50
26    52
27    54
28    56
29    58
30    60
31    62
32    64
33    66
34    68
35    70
36    72
37    74
38    76
39    78
40    80
41    82
42    84
43    86
44    88
45    90
46    92
47    94
48    96
49    98
dtype: int64

## Create series from a dictionary using pandas

In [8]:
data={'a':1,'b':2,'c':3}
series_dict=pd.Series(data)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [ ]:
data=[1,2,3,4,5]
index=['a','b','c','d','e']
print(pd.Series(data,index))

a    1
b    2
c    3
d    4
e    5
dtype: int64

# Data frame

- <h2>create dataframe from dictionary of list<h2>

In [ ]:

data={
    'Name':['Krish','John','Jack'],
    'Age': [25,30,45],
    'City':['Bangalore','New York', 'Arlington']
}

df=pd.DataFrame(data)
print(df)
print(type(df))


# can also use numpy

print(np.array(data))

    Name  Age       City
0  Krish   25  Bangalore
1   John   30   New York
2   Jack   45  Arlington
<class 'pandas.core.frame.DataFrame'>
{'Name': ['Krish', 'John', 'Jack'], 'Age': [25, 30, 45], 'City': ['Bangalore', 'New York', 'Arlington']}

- <h2>Create a dataframe from a list of a dictionary</h2>

In [28]:
data=[
    {'Name':'Krish','Age':32,'City':'Bangalore'},
    {'Name':'John','Age':40,'City':'New York'},
    {'Name':'Jack','Age':45,'City':'Arlington'}
]

df=pd.DataFrame(data)
print(df)

    Name  Age       City
0  Krish   32  Bangalore
1   John   40   New York
2   Jack   45  Arlington

# Read data from file

In [ ]:
data=pd.read_json('./data.json')
print(data)

                  Name  Age         City                    Profession
0         Aarav Sharma   32    Bangalore          Blockchain Developer
1         Vihaan Mehta   30    Hyderabad        Smart Contract Auditor
2         Ishaan Reddy   35         Pune          Full Stack Developer
3         Advait Desai   28      Chennai             Backend Developer
4          Kunal Joshi   33       Mumbai               DevOps Engineer
5          Rudra Gupta   29    Ahmedabad                Data Scientist
6        Laksh Agarwal   40        Delhi                AI/ML Engineer
7          Yuvraj Nair   31      Kolkata          Blockchain Architect
8          Arjun Patel   27        Noida            Frontend Developer
9          Devansh Rao   34      Gurgaon      Cloud Solutions Engineer
10          Anaya Iyer   29       Jaipur                UI/UX Designer
11         Diya Pillai   32       Nagpur          Mobile App Developer
12           Meera Das   28      Lucknow                Web3 Developer
13      Saanvi Mohanty   30  Bhubaneswar                 AI Researcher
14        Ira Banerjee   33      Kolkata         Cybersecurity Analyst
15          Aadhya Sen   31      Asansol                System Analyst
16           Tanya Roy   27      Silchar      Smart Contract Developer
17    Riya Chakraborty   35     Durgapur                 Data Engineer
18  Tanvi Bhattacharya   30     Shillong        Product Manager - Tech
19       Krishna Singh   36        Patna     Technical Program Manager
20        Rishi Tiwari   38       Ranchi             Software Engineer
21      Ayaan Tripathi   39       Raipur  Distributed Systems Engineer
22        Aarush Verma   28       Bhopal               ML Ops Engineer
23       Nikhil Mishra   40       Indore              Python Developer
24   Rajveer Choudhary   31      Gwalior                   AI Engineer
25        Manav Saxena   34       Kanpur                  Data Analyst
26      Reyansh Bansal   33     Varanasi           Technical Architect
27    Shaurya Malhotra   37     Amritsar          Software QA Engineer
28       Vivaan Kapoor   29     Ludhiana             Security Engineer
29        Parth Khanna   26   Chandigarh                DApp Developer
30         Dhruv Kohli   30      Panipat         Cloud Native Engineer
31          Aryan Gill   32    Jalandhar           AI Product Engineer
32         Harsh Vohra   31        Jammu             Crypto Researcher
33        Ankit Bhalla   39     Dehradun         Blockchain Consultant
34     Siddharth Sethi   38       Shimla      Digital Forensics Expert
35      Vedant Mahajan   36       Manali   Game Developer (Blockchain)
36       Harshit Rawat   35    Mussoorie         Tech Support Engineer
37       Aarav Chauhan   34      Udaipur            Blockchain Analyst
38         Yash Thakur   33        Surat                Ethical Hacker
39       Naitik Parmar   29       Rajkot   Digital Identity Specialist
40       Rudraksh Shah   30     Vadodara                 IT Consultant
41         Aryan Ghosh   31       Howrah     Machine Learning Engineer
42           Naman Deb   32     Agartala     Crypto Exchange Developer
43         Tejas Barua   28       Dispur      Blockchain UX Specialist
44    Sarthak Dasgupta   34     Guwahati      Decentralized App Tester
45         Kritin Paul   36     Itanagar      IoT Blockchain Developer
46         Shaunak Dey   35       Imphal     Software Systems Engineer
47         Aviraj Giri   33       Kohima  Web3 Infrastructure Engineer
48         Neil Chetri   30      Gangtok    AI Infrastructure Engineer
49           Ronav Rai   27         Puri      Cybersecurity Researcher