- Nominal: Categories with no order.
- Ordinal: Categories with order.

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df=pd.DataFrame({
    "id":[1,2,3,4],
    "color":["red","blue","green","red"],
    "size":["Small","Medium","Large","Medium"],
    "price":[10,12,15,11]
})

### One hot encoding

In [9]:
# Step-1: Apply one hot encoding to the color column
d_color=pd.get_dummies(df["color"],prefix="color",dtype=int)

In [10]:
# Step-2: Combine the new column back with the original data
df_encoded=pd.concat([df,d_color],axis=1)

In [11]:
# Step-3: Drop the old color column
df_encoded=df_encoded.drop("color",axis=1)
df_encoded

   id    size  price  color_blue  color_green  color_red
0   1   Small     10           0            0          1
1   2  Medium     12           1            0          0
2   3   Large     15           0            1          0
3   4  Medium     11           0            0          1

# Ordinal Encoding

In [12]:
# declare the ordinal order
order={"Small":1,"Medium":2,"Large":3}

In [ ]:
# convert the whole feature
df["size_encoded"]=df['size'].map(order).astype(int)

In [16]:
df

   id  color    size  price
0   1    red   Small     10
1   2   blue  Medium     12
2   3  green   Large     15
3   4    red  Medium     11